# SMB1 is disabled. This means clients without support for SMB2 or
# SMB3 are no longer able to connect to smbd.

[global]
	disable netbios = yes
	workgroup = WORKGROUP
	security = user
	smb ports = 445
	passdb backend = tdbsam

# log authorization requests
	log level = 1 auth_audit:3
	socket options = TCP_NODELAY SO_RCVBUF=65536 SO_SNDBUF=65536

# disable printers
	printing = bsd
	printcap name = /dev/null
	load printers = no
	disable spoolss = yes

# never allow connections from these users
	invalid users = root micro_emr

# enforce server encryption during connection
	smb encrypt = required

	unix extensions = no
	allow insecure wide links = no

[scratch]
	comment = MicroEMR Share
	path = /mnt/micro_emr/scratch/%u/
	browseable = yes
	writeable = yes
	
# log all file access by username
	vfs objects = full_audit
	full_audit:prefix = %u
	full_audit:success = open create_file linkat renameat

# access control to only microEMR users
	valid users = @micro_emr_users

# enable symlinks
	follow symlinks = yes

# force files and directories to be made with micro_emr user
	inherit owner = unix only

# force files and directories to be made with micro_emr_users group
	force group = micro_emr_users

# new files disable special bits, disable execute, disable everyone access
	create mask = 0660
# new files set read write bits for owner and group
	force create mode = 0660

# directory permissions: https://unix.stackexchange.com/a/21263
# setgid (2) to create files/directories using micro_emr_users group
# new directory disable everyone access 
	directory mask = 2770
# new directory set read write execute bits for owner and group
	force directory mode = 2770
